<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.InitialMapper">
	<!-- 修改个人信息 -->
	<update id="updateStudentMessage" parameterType="com.login.pojo.User">
	UPDATE student SET one =#{one},two=#{two},three=#{three},one1 =#{one1},two1=#{two1},three1=#{three1}
	<if test="image_path!=null and image_name!=null">
	,image_path =#{image_path},image_name=#{image_name}
	</if>
	 where user =#{user}
	
	</update>
	<update id="updateTeacherMessage" parameterType="com.login.pojo.User">
	UPDATE teacher SET one =#{one},two=#{two},three=#{three},one1 =#{one1},two1=#{two1},three1=#{three1},
	<if test="image_path!=null and image_name!=null">
	image_path =#{image_path},image_name=#{image_path}
	</if>
	 where user =#{user}
	
	</update>
</mapper>
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

